*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-width: 375px;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* start page__content  */
.page__content {
  position: relative;
}

.link {
  text-decoration: none;
}

.link--prev,
.link--next {
  /* position: absolute; */
  /* top: 286px; */
  padding: 10px 16px 10px 16px;
  background: rgb(255, 255, 255);
  align-self: flex-start;
  margin-top: -20px;
  border: none;
  outline: none;
}

.link--prev:hover,
.link--next:hover,
.link--prev:focus,
.link--next:focus {
  background: hsl(240, 38%, 20%);
}

.link--prev {
  /* left: 148px; */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-right: 0;
}

.link--next {
  /* right: 148px; */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 0;
}

.tooltip {
  position: absolute;
  bottom: -13%;
  width: 25%;
  background: hsl(240, 38%, 20%);
  color: rgb(255,255,255);
  padding: 10px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
}

.page__content:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.img {
  width: 9px;
  height: 13px;
}

/* end page__content */

/* start article card */
.card {
  background: url('../img/pattern-bg.svg') no-repeat;
  background-size: 87%;
  background-position: 48% 6%;
  display: none;
  ;
}

.active {
  display: block;
}

.container {
  background: url('../img/pattern-curve.svg') no-repeat;
  background-size: 75%;
  background-position-y: 100%;
  padding: 54px 0 62px 0;
}

.card__nav {
  display: flex;
  flex-wrap: wrap;
  width: 67%;
  margin: 0 auto;
  justify-content: center;
}

.card__img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
  box-shadow: 0 30px 37px -14px rgba(0, 0, 0, .3);
}

.card__copy {
  text-align: center;
  position: relative;
  z-index: 1;
}

.card__quote {
  width: 82%;
  margin: 65px auto 0;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.34;
  position: relative;
}

.card__quote::before {
  content: '';
  position: absolute;
  top: -26px;
  height: 60px;
  width: 100%;
  background: url('../img/pattern-quotes.svg') no-repeat;
  background-size: 20%;
  background-position-x: 124px;
  display: block;
}

.card__person {
  font-size: .9375rem;
  margin: 17px auto 0;
  letter-spacing: .1px;
}

.card__occupation {
  margin-top: 1px;
  font-size: .9375rem;
  font-weight: 500;
  letter-spacing: .1px;
  color: hsl(240, 18%, 77%);

}

/* end article card */

.attribution {
  font-size: .5rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 850px) {

  /* start page__content  */
  .img {
    width: 11px;
    height: 16px;
  }

  .card {
    background-position: 90% 34%;
    /*667px 49px;*/
    background-size: 48.4%;
    /*698px;*/
  }

  .container {
    display: flex;
    position: relative;
    min-height: 800px;
    padding: 0;
    align-items: center;
    background-size: 42%;
    /*610px;*/
    background-position-y: 100%;
    /* 646px;*/
  }

  .card__nav {
    order: 1;
    position: relative;
    flex: 0 1 39%;
    margin: initial;
    justify-content: flex-start;
  }

  .link--prev,
  .link--next {
    /* top: 625px; */
    margin-top: -26px;
    padding: 15px 18px 13px;
    z-index: 1;
    position: relative;
  }

  .link--prev {
    /* left: 796px; */
    margin-left: 76px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .link--next {
    /* right: 531px; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }


  .card__img {
    width: 71%;
    /*540px;*/
    margin-top: -5px;
    margin-left: 15px;
    position: relative;
    z-index: 0;
    flex-basis: 96%;
  }

  .card__copy {
    text-align: left;
    flex: 0 1 50%;
  }

  .card__quote {
    font-size: 1.3rem;
    margin-top: 58px;
    margin-left: 165px;
    line-height: 1.38;
    letter-spacing: .05px;
    width: 70%;
  }

  .card__quote::before {
    top: -63px;
    left: -34px;
    height: 110px;
  }

  .card__person,
  .card__occupation {
    display: inline-block;
  }

  .card__person {
    font-size: 1.25rem;
    margin-left: 165px;
    margin-top: 38px;
  }

  .card__occupation {
    font-size: 1.1875rem;
    margin-left: 5px;
    letter-spacing: .5px;
  }

  /* end page__content */
}

@media only screen and (min-width: 1170px) {
  .page {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* start page__content  */
  .link--prev,
  .link--next {
    /* top: 625px; */
    padding: 19px 23px 16px 23px;
    align-self: flex-start;
  }


  .card__quote {
    font-size: 2rem;
    width: 87%;
  }

  /* end page__content */
}